/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  padding: 10px;
  justify-content:space-between;
  /* space between works for trying to have two segments one aligned left, one aligned right
  since it evenly distributes items on the line, with the first and last items going to 
  the start and end lines, therefore if you have two items only in a container 
  they'll end up on the start and end lines thus aligned to the left and right */
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
  
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 15px;

}

.right-align, .left-align {
  display: flex;
  align-items: center;
  gap: 15px;
}
